<!DOCTYPE html>
<html>
  <head>
    {% if title %}
    <title>{{ title }} - Lightcurve Simulator</title>
    {% else %}
    <title>Lightcurve Simulator</title>
    {% endif %}
  
      <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src ="js/errorHandlers.js"></script>

<script>
$(function() {
    $('#nav').on('click','.nav', function ( e ) {
        e.preventDefault();
        $(this).parents('#nav').find('.active').removeClass('active').end().end().addClass('active');
        $(activeTab).show();
    });
});
</script>
      
</head>
  
<style type="text/css">

body {
	background-color: #343A3F;
	position: relative;
    left: 10px;
}
[data-error-type="errormessage"]{color: red;}

div{background-color : #F4F4F4;}

</style>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a>
    </div>
    <ul class="nav navbar-nav">

      <li><a href="index.html">Home</a></li>

	  <li><a href="about.html">About</a></li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" type ="button" href="#">Simple Models
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="index.html">Mag</a></li>
          <li><a href="flux.html">Flux</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" type ="button" href="#">Variable Models
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="range.html">Mag</a></li>
          <li><a href="fluxrange.html">Flux</a></li>
        </ul>
      </li>

      <li><a href="opsim.html">Opsim</a></li>
    </ul>
  </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js">
</script>


{% block content %}{% endblock %}

  </body>
</html>